.contacto{
    display: block;
    text-align: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    max-width: 1080px;
    width: 100%;
    padding: 14em;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}


@keyframes reveal {
    from{
      opacity: 0;
      translate: 0 200px;
      /*scale: .5;*/
    }
    to {
      opacity: 1;
      translate: 0 0;
      /*scale: 1;*/
    }
  }