.contacto{
    display: block;
    text-align: start;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5em;
    max-width: 1080px;
    padding-left: 12em;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}


@keyframes reveal {
    from{
      opacity: 0;
      translate: 0 200px;
      /*scale: .5;*/
    }
    to {
      opacity: 1;
      translate: 0 0;
      /*scale: 1;*/
    }
  }

  @media  screen and (max-width:768px){
    .contacto{
      padding: 2em;
    }
  }