.contenedor{
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 1em;
    margin-bottom: 50px;
    max-width: 1080px;
    padding-left: 12em;

    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;

  }

@keyframes reveal {
  from{
    opacity: 0;
    translate: 0 200px;
    scale: .5;
  }
  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }
}

.grid-container {
    display: grid;
    grid-template-columns: 
      repeat(
        auto-fit,
        minmax(150px, 1fr)
      );
    gap: 30px;
  }
  
.grid-item {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    border-radius: 1em;
  }

.servicios {
    text-align: start;
  }

h2 p{
    display: block;
    margin: 0px;
  }

h2 {
    font-size: 3em;
}

p{
    font-size: 1.1em;
    font-weight: 500;
}

h3{
    font-size: 1.4em;
}

.grid-item img{
    width: fit;
    height: auto;
    border-radius: 1em;
}



@media screen and (max-width: 900px) {
  .contenedor{
    padding: 3em;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;

  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
  }
  .grid-item{
    grid-row: auto;
    display: inline;
  }
}