.container {
    display: flex;
    align-items:center;
    justify-content: space-between;

    margin: 0% !important;
    padding: 0% !important;

    animation: reveal linear reverse;
    animation-timeline: Scroll(root);
    animation-range: entry 20% cover 40%;
  }
  
  @keyframes reveal {
    from{
      opacity: 0;
      translate: 0 100px;
    }
    to {
      opacity: 1;
      translate: 0 0;
    }
  }

.text-container{
    width: 50%;
    text-align: left;
    justify-content: start;
    align-items: start;
    padding-left: 5em;
    padding-right: 4em;
}

h1, p, button {
    display: block;
    margin: 0;
  }

h1 {
    padding-bottom: 1em;
    text-shadow: 10px 0 10px gray;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: steps(50);
}

h1:hover{
    color: #d6a400;
}

p {
    padding-bottom: 1em;
}

.image-container {
    width: 50%;
    height: 100vh;
}

img {
    width: 100%;
    height: auto;
}

.img:hover {
    animation: fadeIn 2s;
    opacity: 1;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .ppal-img{

    animation: fadeIn 6s forwards;
    opacity: 0;    
  }

@media (max-width:800px) {
  .container{
    display: block;
    padding: 4em;
  }
  .text-container{
    width: 80vw;
    padding-top: 2em;
    padding-bottom: 50px;

    padding-left: 1em;

  }
  .image-container{
    width: 90vw;
    height: auto;
  }

  .ppal-img{
    padding: 1.5em;
  }
  .img{
    padding-right: 1em;
  }
}